<main class="app">
  <div class="app-container">
    <app-filter
    class="app-filter"
    [period]="period"
    [selectedYear]="selectedYear"
    (onChangeYear)="updateSelectedYear($event)"
  ></app-filter>
  <app-chart
    class="app-chart"
    [chartData]="chartByCategory.data"
    [chartLabels]="chartByCategory.labels"
    [goals]="chartByCategory.goals" 
    [differenceBetweenYears]="chartByCategory.differenceBetweenYears"
    [category]="chartByCategory.category"
  ></app-chart>
  </div>
  
</main>
